#signupform{
    max-width: 330px;
    margin: 0 auto;
    padding: 2rem 0;
}
#signinform{
    max-width: 330px;
    margin: 0 auto;
    padding: 2rem 0;
}
#addform{
    max-width: 330px;
    margin: 0 auto;
    padding: 2rem 0;
}
#borrow-book{
    max-width: 330px;
    margin: 0 auto;
    padding: 2rem 0;
}